# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
postgres-data/
nbactions.xml
nb-configuration.xml
.env
# Class Files #
*.class
.idea/
# Package Files #
*.jar
*.war
*.ear